$color_1: #ff0000;
$color_2: #ffffff;
$color_3: #a4003a;
$background_color_1: #ff0000;
$background_color_2: rgba(255,196,0,.8);
$border_color_1: #ffc400;
$border_color_2: #ffc400 transparent transparent;
$border_top_color_1: #ffc400;
$border_right_color_1: #ffc400;
$border_left_color_1: #ffc400;
$border_left_color_2: #ffffff;

/* ============================

	        COLOR 

=============================== */
/* ============================


	       BACKGROUND COLOR 

=============================== */
/* ============================

	       BORDER COLOR 

=============================== */
/******************************************************************************
  Max Width "767px"
*******************************************************************************/
/******************************************************************************
  Max Width "992px"
*******************************************************************************/
/* Transparent Color */
/* Content Select In Browser */
.btn-link {
  color: $color_1;
  &:hover {
    color: $color_1;
}
}
.navbar-default {
  .navbar-nav {
    >.open {
      >a {
        color: $color_1;
        &:focus {
          color: $color_1;
      }
        &:hover {
          color: $color_1;
      }
    }
  }
    >li.active {
      >a {
        color: $color_1;
        &:focus {
          color: $color_1;
      }
        &:hover {
          color: $color_1;
      }
    }
  }
    .open {
      .dropdown-menu {
        >li {
          >a {
            &:focus {
              color: $color_1;
          }
            &:hover {
              color: $color_1;
          }
        }
      }
    }
  }
}
  .navbar-toggle {
    .icon-bar {
      background-color: $background_color_1;
  }
}
}
.navbar.navbar-bg-light {
  .navbar-nav {
    >li {
      >a {
        &:hover {
          color: $color_1;
      }
        &:focus {
          color: $color_1;
      }
    }
      >a.active {
        color: $color_1;
    }
      >a.highlighted {
        color: $color_1;
    }
  }
}
}
.page-links {
  div {
    a {
      &:hover {
        color: $color_1;
    }
      &:active {
        color: $color_1;
    }
      &:focus {
        color: $color_1;
    }
  }
}
}
.dropdown-menu {
  >li {
    >a {
      &:focus {
        color: $color_1;
    }
      &:hover {
        color: $color_1;
    }
  }
    >a.active {
      color: $color_1;
  }
}
  border-color: $border_color_1;
}
.text-color {
  color: $color_1;
}
.item-box {
  a {
    &:hover {
      i {
        color: $color_1;
    }
  }
}
}
.inverse {
  i {
    color: $color_1;
}
}
.item-box.icons-color {
  i {
    color: $color_1;
}
}
.pricing {
  &:hover {
    .title {
      color: $color_1;
      a {
        color: $color_1;
    }
  }
    .pricing-icon {
      color: $color_1;
  }
    i.icons-circle.medium.pricing-icon {
      text-shadow: 0px 0px 5px rgba(255, 196, 0, 0.5);
  }
}
  .price {
    color: $color_1;
}
}
.process-content {
  &:hover {
    .title {
      color: $color_1;
  }
}
}
.post-meta {
  i {
    color: $color_1;
}
}
.meta {
  i {
    color: $color_1;
}
}
.quote {
  blockquote {
    &:before {
      color: $color_1;
  }
    &:after {
      color: $color_1;
  }
}
}
.tweet_time {
  a {
    color: $color_1;
}
}
#video-controls {
  a {
    color: $color_1;
}
}
.link-hover-color {
  a {
    &:hover {
      color: $color_1;
  }
}
}
.icons-hover-color {
  i {
    &:hover {
      color: $color_1;
  }
}
}
#page {
  .breadcrumb {
    >.active {
      color: $color_1;
  }
}
}
.timeliner {
  li {
    &:hover {
      .timeline-heading {
        h4.subheading {
          color: $color_1;
      }
    }
      .timeline-image {
        border-color: $border_color_1;
    }
  }
}
}
.sitemap {
  li {
    a {
      &:hover {
        color: $color_1;
    }
  }
}
}
.bakery-block {
  &:hover {
    .fill-icon {
      color: $color_1;
  }
}
}
.travel-block {
  i {
    color: $color_1;
}
}
.side-navbar {
  .top-contact.link-hover-black {
    >a {
      &:hover {
        color: $color_1;
    }
  }
}
  .top-social-icon {
    >a {
      &:hover {
        i {
          color: $color_1;
      }
    }
  }
}
}
header {
  .nav {
    .open {
      >a.highlighted {
        color: $color_1;
    }
  }
}
}
.btn-transparent-black {
  &:hover {
    color: $color_1;
}
}
.btn-transparent-white {
  &:hover {
    color: $color_1;
}
}
.btn-transparent-black-inverse {
  color: $color_1;
}
.btn-transparent-white-inverse {
  color: $color_1;
}
.btn-transparent-color {
  color: $color_1;
  border-color: $border_color_1;
  &:hover {
    background-color: $background_color_1;
    border-color: $border_color_1;
}
}
.btn-transparent-color-inverse {
  &:hover {
    color: $color_1;
    border-color: $border_color_1;
}
  background-color: $background_color_1;
  border-color: $border_color_1;
}

.top-bar-section.top-bar-bg-color {
  background-color: $background_color_1;
  background-color: $background_color_1;
}
.product-count {
  background-color: $background_color_1;
}
.nav {
  >li {
    >a {
      &:focus {
        background-color: $background_color_1;
    }
      &:hover {
        background-color: $background_color_1;
    }
  }
}
}
.btn-default {
  background-color: $background_color_1;
  &:hover {
    background-color: $background_color_2;
}
}
.section-title {
  h1 {
    &:before {
      background-color: $background_color_1;
  }
}
  h2 {
    &:before {
      background-color: $background_color_1;
  }
}
}
.special-feature {
  .mask-top {
    h4 {
      &:before {
        background-color: $background_color_1;
    }
  }
}
}
.s-feature-box {
  background-color: $background_color_1;
  &:hover {
    .mask-bottom {
      background-color: $background_color_1;
  }
}
}
.progress-bar {
  background-color: $background_color_1;
}
.owl-prev {
  .fa {
    background-color: $background_color_1;
}
}
.owl-next {
  .fa {
    background-color: $background_color_1;
}
}
h3.count-number {
  &:before {
    background-color: $background_color_1;
}
}
h2.count-number {
  &:before {
    background-color: $background_color_1;
}
}
.item-box.inverse {
  a {
    &:hover {
      i {
        background-color: $background_color_1;
    }
  }
}
}
.work-process-box {
  .item-number {
    background-color: $background_color_1;
}
}
.name {
  &:before {
    background-color: $background_color_1;
}
}
.inverse-bg-color {
  i {
    background-color: $background_color_1;
}
}
.icons-bg-color {
  i {
    background-color: $background_color_1;
}
}
.bg-color {
  background-color: $background_color_1;
}
.bg-hover-color {
  &:hover {
    background-color: $background_color_1;
}
}
.gray-bg {
  i {
    &:hover {
      background-color: $background_color_1;
  }
}
}
.features-list-item {
  &:hover {
    i {
      background-color: $background_color_1;
  }
}
}
.bar {
  background-color: $background_color_1;
}
.pagination {
  >.active {
    >span {
      background-color: $background_color_1;
      border-color: $border_color_1;
      &:hover {
        background-color: $background_color_1;
        border-color: $border_color_1;
    }
  }
}
}
.blog.timeliner {
  >li {
    &:hover {
      .timeline-image {
        background-color: $background_color_1;
    }
      .timeline-icon {
        background-color: $background_color_1;
    }
      .timeline-panel {
        border-color: $border_color_1;
        &:before {
          border-left-color: $border_left_color_1;
      }
    }
  }
}
  >li.timeline-inverted {
    &:hover {
      .timeline-panel {
        &:before {
          border-right-color: $border_right_color_1;
          border-left-color: $border_left_color_2;
      }
    }
  }
}
}
div.count-number {
  &:before {
    background-color: $background_color_1;
}
}
.static-color-icons {
  span {
    background-color: $background_color_1;
}
}
.fill-icon {
  &:after {
    background-color: $background_color_1;
}
}
.bakery-menu {
  .nav-tabs {
    >li.active {
      >a {
        background-color: $background_color_1;
        &:focus {
          background-color: $background_color_1;
      }
        &:hover {
          background-color: $background_color_1;
      }
    }
  }
}
}
.travel-tab {
  .input-group-addon {
    background-color: $background_color_1;
}
  .nav-tabs {
    >.active {
      >a {
        background-color: $background_color_1;
        &:hover {
          background-color: $background_color_1;
      }
        &:focus {
          background-color: $background_color_1;
      }
    }
  }
    >li {
      a {
        >i {
          background-color: $background_color_1;
      }
    }
  }
}
}
.bootstrap-datetimepicker-widget {
  table {
    td.active {
      background-color: $background_color_1;
      &:hover {
        background-color: $background_color_1;
    }
  }
}
}
.hotel-tab {
  .nav-tabs {
    >li.active {
      >a {
        background-color: $background_color_1;
        &:focus {
          background-color: $background_color_1;
      }
        &:hover {
          background-color: $background_color_1;
      }
    }
  }
}
}
.circle.count-number.border-color {
  &:before {
    background-color: $background_color_1;
}
  border-color: $border_color_1;
}
.image-bg {
  .overlay-color {
    background-color: $background_color_1;
}
}
.overlay-color {
  background-color: $background_color_1;
}
.desc-border {
  border-color: $border_color_1;
}
.border-color {
  border-color: $border_color_1;
}
.form-control {
  &:focus {
    border-color: $border_color_1;
}
}
.bottom-arrow {
  &:before {
    border-top-color: $border_top_color_1;
}
}
.rightGrip {
  border-bottom: 10px solid #ffc400 !important;
}
.leftGrip {
  border-bottom: 10px solid #ffc400 !important;
}
.right.blog.timeliner {
  >li.timeline-inverted {
    &:hover {
      .timeline-panel {
        &:before {
          border-right-color: $border_right_color_1;
          border-left-color: $border_left_color_2;
      }
    }
  }
}
  >li {
    &:hover {
      .timeline-panel {
        &:before {
          border-right-color: $border_right_color_1;
          border-left-color: $border_left_color_2;
      }
    }
  }
}
}
.top-up {
  .nav-tabs {
    >li.active {
      >a {
        &:after {
          border-color: $border_color_2;
      }
        &:focus {
          &:after {
            border-color: $border_color_2;
        }
      }
        &:hover {
          &:after {
            border-color: $border_color_2;
        }
      }
    }
  }
}
}
.color-switch {
  .owl-controls {
    .owl-page {
      span {
        background-color: $background_color_2;
    }
  }
}
}
.tags {
  li {
    a {
      background-color: $background_color_2;
  }
}
}

::-moz-selection {
  background: #ffc400;
  color: $color_2;
  text-shadow: none;
}
::selection {
  background: #ffc400;
  color: $color_3;
  text-shadow: none;
}
@media (max-width: 767px) {
.blog.timeliner {
  >li.timeline-inverted {
    &:hover {
      .timeline-panel {
        &:before {
          border-right-color: $border_right_color_1;
          border-left-color: $border_left_color_2;
      }
    }
  }
}
  >li {
    &:hover {
      .timeline-panel {
        &:before {
          border-right-color: $border_right_color_1;
          border-left-color: $border_left_color_2;
      }
    }
  }
}
}
}
@media (min-width: 992px) {
.navbar-bg-color {
  background-color: $background_color_1;
}
}
